In [1]:
import os

import pandas as pd

import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline

#load the dataframes
df_train  = pd.read_csv('~/git/homeprices_kaggle/train.csv', parse_dates=True)
df_test = pd.read_csv('~/git/homeprices_kaggle/test.csv',  parse_dates=True)

# Helper Functions

In [2]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

In [ ]:
def dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett', 'Cabin_Letter', 'Name_Title', 'Fam_Size']):
    for column in columns:
        train[column] = train[column].apply(lambda x: str(x))
        test[column] = test[column].apply(lambda x: str(x))
        good_cols = [column+'_'+i for i in train[column].unique() if i in test[column].unique()]
        train = pd.concat((train, pd.get_dummies(train[column], prefix = column)[good_cols]), axis = 1)
        test = pd.concat((test, pd.get_dummies(test[column], prefix = column)[good_cols]), axis = 1)
        del train[column]
        del test[column]
    return train, test

# EDA

In [3]:
# Ok, so our goal is to predict the sale price of the home in the test dataset.  

# First, lets take a look at our columns in the dataframe to see if we have any nulls to deal with
df_train.columns[df_train.isnull().any()]
#temp_ar = df_train.columns[df_train.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [4]:
# QUESTION:  ok, quite a few of them.  How many nulls in each column?
# SOLUTION:  Lets put all the columns with nulls into a subset to analyze further

missingHousingData = df_train[['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature']].copy()

In [5]:
#what does that missingHousingData dataframe look like?
missingHousingData.head()

,LotFrontage,Alley,MasVnrType,MasVnrArea,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Electrical,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageQual,GarageCond,PoolQC,Fence,MiscFeature
0,65.0,NaN,BrkFace,196.0,Gd,TA,No,GLQ,Unf,SBrkr,NaN,Attchd,2003.0,RFn,TA,TA,NaN,NaN,NaN
1,80.0,NaN,None,0.0,Gd,TA,Gd,ALQ,Unf,SBrkr,TA,Attchd,1976.0,RFn,TA,TA,NaN,NaN,NaN
2,68.0,NaN,BrkFace,162.0,Gd,TA,Mn,GLQ,Unf,SBrkr,TA,Attchd,2001.0,RFn,TA,TA,NaN,NaN,NaN
3,60.0,NaN,None,0.0,TA,Gd,No,ALQ,Unf,SBrkr,Gd,Detchd,1998.0,Unf,TA,TA,NaN,NaN,NaN
4,84.0,NaN,BrkFace,350.0,Gd,TA,Av,GLQ,Unf,SBrkr,TA,Attchd,2000.0,RFn,TA,TA,NaN,NaN,NaN

# Examing the missing data -- MiscFeature and corresponding MiscVal columns.

In [6]:
#how many for each column?
missingHousingData.isnull().sum()

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [7]:
#quite a few more missing from some columns vs others, what about % missing?
missingHousingData.isnull().sum()/len(missingHousingData)

LotFrontage     0.177397
Alley           0.937671
MasVnrType      0.005479
MasVnrArea      0.005479
BsmtQual        0.025342
BsmtCond        0.025342
BsmtExposure    0.026027
BsmtFinType1    0.025342
BsmtFinType2    0.026027
Electrical      0.000685
FireplaceQu     0.472603
GarageType      0.055479
GarageYrBlt     0.055479
GarageFinish    0.055479
GarageQual      0.055479
GarageCond      0.055479
PoolQC          0.995205
Fence           0.807534
MiscFeature     0.963014
dtype: float64

In [8]:
# I'm seeing columns with more than 25% of data missing, lets see whats in those before we drop them
# MiscFeature could be so random and unique per row if its like 'english tea parlor room'

In [9]:
#show me all the unique values for MiscFeature
missingHousingData.MiscFeature.unique()

array([nan, 'Shed', 'Gar2', 'Othr', 'TenC'], dtype=object)

In [10]:
# are they all just one-offs?  No, Shed has 49 occurences, a decent amount.  
# I don't think I want to drop this column, as it being populated probably ups the sale price
missingHousingData['MiscFeature'].value_counts()

Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64

In [11]:
# From reviewing the data_description.txt file, we know there is a column in the original 
# training set called MiscVal that is the #value of the MiscFeature item.  
#Those have to impact sale price,

# so i think we just want to fill in the na values with a 'NA' string for now, and drop it from our 
# missingHousingData dataframe.
missingHousingData.drop(['MiscFeature'], axis=1, inplace=True)
#df_train['MiscFeature'].fillna('NA', inplace=True)
missingHousingData.head()

,LotFrontage,Alley,MasVnrType,MasVnrArea,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Electrical,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageQual,GarageCond,PoolQC,Fence
0,65.0,NaN,BrkFace,196.0,Gd,TA,No,GLQ,Unf,SBrkr,NaN,Attchd,2003.0,RFn,TA,TA,NaN,NaN
1,80.0,NaN,None,0.0,Gd,TA,Gd,ALQ,Unf,SBrkr,TA,Attchd,1976.0,RFn,TA,TA,NaN,NaN
2,68.0,NaN,BrkFace,162.0,Gd,TA,Mn,GLQ,Unf,SBrkr,TA,Attchd,2001.0,RFn,TA,TA,NaN,NaN
3,60.0,NaN,None,0.0,TA,Gd,No,ALQ,Unf,SBrkr,Gd,Detchd,1998.0,Unf,TA,TA,NaN,NaN
4,84.0,NaN,BrkFace,350.0,Gd,TA,Av,GLQ,Unf,SBrkr,TA,Attchd,2000.0,RFn,TA,TA,NaN,NaN

In [12]:
# Ok, regarding that MiscVal column -- sounds like the MiscVal column contains the $ value
# of that column.  So why keep MiscFeature?  We have the $ amount in MiscVal, which probably
# bears more precision in terms of impact to sale amount.  Here is were I would A|B test the model to 
# see if any impact

# Execute Helper functions / transform data

## A|B Test 1 - MiscFeature removal

In [13]:
# doubt this column matters
df_train.drop('MiscFeature', axis=1, inplace=True)

In [19]:
#some of these missing columns we'll insert 'N' for the value, eventually that
#will get digitized.

df_train.isnull().sum()/len(df_train)

Id               0.000000
MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.177397
LotArea          0.000000
Street           0.000000
Alley            0.000000
LotShape         0.000000
LandContour      0.000000
Utilities        0.000000
LotConfig        0.000000
LandSlope        0.000000
Neighborhood     0.000000
Condition1       0.000000
Condition2       0.000000
BldgType         0.000000
HouseStyle       0.000000
OverallQual      0.000000
OverallCond      0.000000
YearBuilt        0.000000
YearRemodAdd     0.000000
RoofStyle        0.000000
RoofMatl         0.000000
Exterior1st      0.000000
Exterior2nd      0.000000
MasVnrType       0.000000
MasVnrArea       0.005479
ExterQual        0.000000
ExterCond        0.000000
Foundation       0.000000
                   ...
HalfBath         0.000000
BedroomAbvGr     0.000000
KitchenAbvGr     0.000000
KitchenQual      0.000000
TotRmsAbvGrd     0.000000
Functional       0.000000
Fireplaces       0.000000
FireplaceQu      0.000000
GarageType       0.000000
GarageYrBlt      0.000000
GarageFinish     0.000000
GarageCars       0.000000
GarageArea       0.000000
GarageQual       0.000000
GarageCond       0.000000
PavedDrive       0.000000
WoodDeckSF       0.000000
OpenPorchSF      0.000000
EnclosedPorch    0.000000
3SsnPorch        0.000000
ScreenPorch      0.000000
PoolArea         0.000000
PoolQC           0.000000
Fence            0.000000
MiscVal          0.000000
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 80, dtype: float64

In [15]:
# The 2 lines below, both alter a copy of the frame, which we don't want (inplace parm deceiving)
#df_train.BsmtCond.fillna('NA', inplace=True)
#df_train[['PoolQC', 'Fence', 'GarageCond', 'GarageQual', 'GarageFinish', 'GarageType', 'FireplaceQu', 'Electrical', 'BsmtFinType2', 'BsmtFinType1', 'BsmtExposure', 'BsmtCond', 'BsmtQual', 'MasVnrType', 'Alley']].fillna('NA', inplace=True)

#Not pretty, but does the job  - so we should not have any nanValues that are string type
df_train.fillna({'PoolQC': 'NA', 'Fence': 'NA', 'GarageCond': 'NA', 'GarageQual': 'NA', 'GarageFinish': 'NA', 'GarageType': 'NA', 'FireplaceQu': 'NA', 'Electrical': 'NA', 'BsmtFinType2': 'NA', 'BsmtFinType1': 'NA', 'BsmtExposure': 'NA', 'BsmtCond': 'NA', 'BsmtQual': 'NA', 'MasVnrType': 'NA', 'Alley': 'NA'}, inplace=True)

In [20]:
#validate one of the columns to make sure no more nan
df_train.MasVnrArea.unique()

array([1.960e+02, 0.000e+00, 1.620e+02, 3.500e+02, 1.860e+02, 2.400e+02,
       2.860e+02, 3.060e+02, 2.120e+02, 1.800e+02, 3.800e+02, 2.810e+02,
       6.400e+02, 2.000e+02, 2.460e+02, 1.320e+02, 6.500e+02, 1.010e+02,
       4.120e+02, 2.720e+02, 4.560e+02, 1.031e+03, 1.780e+02, 5.730e+02,
       3.440e+02, 2.870e+02, 1.670e+02, 1.115e+03, 4.000e+01, 1.040e+02,
       5.760e+02, 4.430e+02, 4.680e+02, 6.600e+01, 2.200e+01, 2.840e+02,
       7.600e+01, 2.030e+02, 6.800e+01, 1.830e+02, 4.800e+01, 2.800e+01,
       3.360e+02, 6.000e+02, 7.680e+02, 4.800e+02, 2.200e+02, 1.840e+02,
       1.129e+03, 1.160e+02, 1.350e+02, 2.660e+02, 8.500e+01, 3.090e+02,
       1.360e+02, 2.880e+02, 7.000e+01, 3.200e+02, 5.000e+01, 1.200e+02,
       4.360e+02, 2.520e+02, 8.400e+01, 6.640e+02, 2.260e+02, 3.000e+02,
       6.530e+02, 1.120e+02, 4.910e+02, 2.680e+02, 7.480e+02, 9.800e+01,
       2.750e+02, 1.380e+02, 2.050e+02, 2.620e+02, 1.280e+02, 2.600e+02,
       1.530e+02, 6.400e+01, 3.120e+02, 1.600e+01, 9.220e+02, 1.420e+02,
       2.900e+02, 1.270e+02, 5.060e+02, 2.970e+02,       nan, 6.040e+02,
       2.540e+02, 3.600e+01, 1.020e+02, 4.720e+02, 4.810e+02, 1.080e+02,
       3.020e+02, 1.720e+02, 3.990e+02, 2.700e+02, 4.600e+01, 2.100e+02,
       1.740e+02, 3.480e+02, 3.150e+02, 2.990e+02, 3.400e+02, 1.660e+02,
       7.200e+01, 3.100e+01, 3.400e+01, 2.380e+02, 1.600e+03, 3.650e+02,
       5.600e+01, 1.500e+02, 2.780e+02, 2.560e+02, 2.250e+02, 3.700e+02,
       3.880e+02, 1.750e+02, 2.960e+02, 1.460e+02, 1.130e+02, 1.760e+02,
       6.160e+02, 3.000e+01, 1.060e+02, 8.700e+02, 3.620e+02, 5.300e+02,
       5.000e+02, 5.100e+02, 2.470e+02, 3.050e+02, 2.550e+02, 1.250e+02,
       1.000e+02, 4.320e+02, 1.260e+02, 4.730e+02, 7.400e+01, 1.450e+02,
       2.320e+02, 3.760e+02, 4.200e+01, 1.610e+02, 1.100e+02, 1.800e+01,
       2.240e+02, 2.480e+02, 8.000e+01, 3.040e+02, 2.150e+02, 7.720e+02,
       4.350e+02, 3.780e+02, 5.620e+02, 1.680e+02, 8.900e+01, 2.850e+02,
       3.600e+02, 9.400e+01, 3.330e+02, 9.210e+02, 7.620e+02, 5.940e+02,
       2.190e+02, 1.880e+02, 4.790e+02, 5.840e+02, 1.820e+02, 2.500e+02,
       2.920e+02, 2.450e+02, 2.070e+02, 8.200e+01, 9.700e+01, 3.350e+02,
       2.080e+02, 4.200e+02, 1.700e+02, 4.590e+02, 2.800e+02, 9.900e+01,
       1.920e+02, 2.040e+02, 2.330e+02, 1.560e+02, 4.520e+02, 5.130e+02,
       2.610e+02, 1.640e+02, 2.590e+02, 2.090e+02, 2.630e+02, 2.160e+02,
       3.510e+02, 6.600e+02, 3.810e+02, 5.400e+01, 5.280e+02, 2.580e+02,
       4.640e+02, 5.700e+01, 1.470e+02, 1.170e+03, 2.930e+02, 6.300e+02,
       4.660e+02, 1.090e+02, 4.100e+01, 1.600e+02, 2.890e+02, 6.510e+02,
       1.690e+02, 9.500e+01, 4.420e+02, 2.020e+02, 3.380e+02, 8.940e+02,
       3.280e+02, 6.730e+02, 6.030e+02, 1.000e+00, 3.750e+02, 9.000e+01,
       3.800e+01, 1.570e+02, 1.100e+01, 1.400e+02, 1.300e+02, 1.480e+02,
       8.600e+02, 4.240e+02, 1.047e+03, 2.430e+02, 8.160e+02, 3.870e+02,
       2.230e+02, 1.580e+02, 1.370e+02, 1.150e+02, 1.890e+02, 2.740e+02,
       1.170e+02, 6.000e+01, 1.220e+02, 9.200e+01, 4.150e+02, 7.600e+02,
       2.700e+01, 7.500e+01, 3.610e+02, 1.050e+02, 3.420e+02, 2.980e+02,
       5.410e+02, 2.360e+02, 1.440e+02, 4.230e+02, 4.400e+01, 1.510e+02,
       9.750e+02, 4.500e+02, 2.300e+02, 5.710e+02, 2.400e+01, 5.300e+01,
       2.060e+02, 1.400e+01, 3.240e+02, 2.950e+02, 3.960e+02, 6.700e+01,
       1.540e+02, 4.250e+02, 4.500e+01, 1.378e+03, 3.370e+02, 1.490e+02,
       1.430e+02, 5.100e+01, 1.710e+02, 2.340e+02, 6.300e+01, 7.660e+02,
       3.200e+01, 8.100e+01, 1.630e+02, 5.540e+02, 2.180e+02, 6.320e+02,
       1.140e+02, 5.670e+02, 3.590e+02, 4.510e+02, 6.210e+02, 7.880e+02,
       8.600e+01, 7.960e+02, 3.910e+02, 2.280e+02, 8.800e+01, 1.650e+02,
       4.280e+02, 4.100e+02, 5.640e+02, 3.680e+02, 3.180e+02, 5.790e+02,
       6.500e+01, 7.050e+02, 4.080e+02, 2.440e+02, 1.230e+02, 3.660e+02,
       7.310e+02, 4.480e+02, 2.940e+02, 3.100e+02, 2.370e+02, 4.260e+02,
       9.600e+01, 4.380e+02, 1.940e+02, 1.190e+02])

In [21]:
#lets see some of these numeric column null values in action
df_train.LotFrontage.unique()

array([ 65.,  80.,  68.,  60.,  84.,  85.,  75.,  nan,  51.,  50.,  70.,
        91.,  72.,  66., 101.,  57.,  44., 110.,  98.,  47., 108., 112.,
        74., 115.,  61.,  48.,  33.,  52., 100.,  24.,  89.,  63.,  76.,
        81.,  95.,  69.,  21.,  32.,  78., 121., 122.,  40., 105.,  73.,
        77.,  64.,  94.,  34.,  90.,  55.,  88.,  82.,  71., 120., 107.,
        92., 134.,  62.,  86., 141.,  97.,  54.,  41.,  79., 174.,  99.,
        67.,  83.,  43., 103.,  93.,  30., 129., 140.,  35.,  37., 118.,
        87., 116., 150., 111.,  49.,  96.,  59.,  36.,  56., 102.,  58.,
        38., 109., 130.,  53., 137.,  45., 106., 104.,  42.,  39., 144.,
       114., 128., 149., 313., 168., 182., 138., 160., 152., 124., 153.,
        46.])

In [22]:
#Now lets take care of the numeric column null values -- 
# put the mean or median for each column in that columns nan values
# starting with the year garage was built, 

df_train['GarageYrBlt'].fillna((df_train['GarageYrBlt'].median()), inplace=True)
df_train['MasVnrArea'].fillna((df_train['MasVnrArea'].mean()), inplace=True)
df_train['LotFrontage'].fillna((df_train['LotFrontage'].mean()), inplace=True)


#verify
df_train.GarageYrBlt.unique()

array([2003., 1976., 2001., 1998., 2000., 1993., 2004., 1973., 1931.,
       1939., 1965., 2005., 1962., 2006., 1960., 1991., 1970., 1967.,
       1958., 1930., 2002., 1968., 2007., 2008., 1957., 1920., 1966.,
       1959., 1995., 1954., 1953., 1980., 1983., 1977., 1997., 1985.,
       1963., 1981., 1964., 1999., 1935., 1990., 1945., 1987., 1989.,
       1915., 1956., 1948., 1974., 2009., 1950., 1961., 1921., 1900.,
       1979., 1951., 1969., 1936., 1975., 1971., 1923., 1984., 1926.,
       1955., 1986., 1988., 1916., 1932., 1972., 1918., 1924., 1996.,
       1940., 1949., 1994., 1910., 1978., 1982., 1992., 1925., 1941.,
       2010., 1927., 1947., 1937., 1942., 1938., 1952., 1928., 1922.,
       1934., 1906., 1914., 1946., 1908., 1929., 1933.])

In [25]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1460 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            1460 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1460 non-null object
MasVnrArea       1460 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1460 non-null object
BsmtCond         1460 non-null object
BsmtExposure     1460 non-null object
BsmtFinType1     1460 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1460 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1460 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      1460 non-null object
GarageType       1460 non-null object
GarageYrBlt      1460 non-null float64
GarageFinish     1460 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1460 non-null object
GarageCond       1460 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           1460 non-null object
Fence            1460 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(42)
memory usage: 912.6+ KB

# A-B Test 2 --drop_first parameter on get_dummies ?

In [32]:
#convert columns to categorical
df_train2 = pd.get_dummies(df_train, drop_first=True)

df_train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 259 entries, Id to SaleCondition_Partial
dtypes: float64(3), int64(35), uint8(221)
memory usage: 748.6 KB

In [35]:
print(df_train2)

        Id  MSSubClass  LotFrontage  LotArea  OverallQual  OverallCond  \
0        1          60    65.000000     8450            7            5
1        2          20    80.000000     9600            6            8
2        3          60    68.000000    11250            7            5
3        4          70    60.000000     9550            7            5
4        5          60    84.000000    14260            8            5
5        6          50    85.000000    14115            5            5
6        7          20    75.000000    10084            8            5
7        8          60    70.049958    10382            7            6
8        9          50    51.000000     6120            7            5
9       10         190    50.000000     7420            5            6
10      11          20    70.000000    11200            5            5
11      12          60    85.000000    11924            9            5
12      13          20    70.049958    12968            5            6
13      14          20    91.000000    10652            7            5
14      15          20    70.049958    10920            6            5
15      16          45    51.000000     6120            7            8
16      17          20    70.049958    11241            6            7
17      18          90    72.000000    10791            4            5
18      19          20    66.000000    13695            5            5
19      20          20    70.000000     7560            5            6
20      21          60   101.000000    14215            8            5
21      22          45    57.000000     7449            7            7
22      23          20    75.000000     9742            8            5
23      24         120    44.000000     4224            5            7
24      25          20    70.049958     8246            5            8
25      26          20   110.000000    14230            8            5
26      27          20    60.000000     7200            5            7
27      28          20    98.000000    11478            8            5
28      29          20    47.000000    16321            5            6
29      30          30    60.000000     6324            4            6
...    ...         ...          ...      ...          ...          ...
1430  1431          60    60.000000    21930            5            5
1431  1432         120    70.049958     4928            6            6
1432  1433          30    60.000000    10800            4            6
1433  1434          60    93.000000    10261            6            5
1434  1435          20    80.000000    17400            5            5
1435  1436          20    80.000000     8400            6            9
1436  1437          20    60.000000     9000            4            6
1437  1438          20    96.000000    12444            8            5
1438  1439          20    90.000000     7407            6            7
1439  1440          60    80.000000    11584            7            6
1440  1441          70    79.000000    11526            6            7
1441  1442         120    70.049958     4426            6            5
1442  1443          60    85.000000    11003           10            5
1443  1444          30    70.049958     8854            6            6
1444  1445          20    63.000000     8500            7            5
1445  1446          85    70.000000     8400            6            5
1446  1447          20    70.049958    26142            5            7
1447  1448          60    80.000000    10000            8            5
1448  1449          50    70.000000    11767            4            7
1449  1450         180    21.000000     1533            5            7
1450  1451          90    60.000000     9000            5            5
1451  1452          20    78.000000     9262            8            5
1452  1453         180    35.000000     3675            5            5
1453  1454          20    90.000000    17217            5            5
1454  1455          20    62.000000     7500            7            5
1455  1456          60    62.000000     7917            6            5
1456  1457          20    85.000000    13175            6            6
1457  1458          70    66.000000     9042            7            9
1458  1459          20    68.000000     9717            5            6
1459  1460          20    75.000000     9937            5            6

      YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  ...  SaleType_ConLI  \
0          2003          2003       196.0         706  ...               0
1          1976          1976         0.0         978  ...               0
2          2001          2002       162.0         486  ...               0
3          1915          1970         0.0         216  ...               0
4          2000          2000       350.0         655  ...               0
5          1993          1995         0.0         732  ...               0
6          2004          2005       186.0        1369  ...               0
7          1973          1973       240.0         859  ...               0
8          1931          1950         0.0           0  ...               0
9          1939          1950         0.0         851  ...               0
10         1965          1965         0.0         906  ...               0
11         2005          2006       286.0         998  ...               0
12         1962          1962         0.0         737  ...               0
13         2006          2007       306.0           0  ...               0
14         1960          1960       212.0         733  ...               0
15         1929          2001         0.0           0  ...               0
16         1970          1970       180.0         578  ...               0
17         1967          1967         0.0           0  ...               0
18         2004          2004         0.0         646  ...               0
19         1958          1965         0.0         504  ...               0
20         2005          2006       380.0           0  ...               0
21         1930          1950         0.0           0  ...               0
22         2002          2002       281.0           0  ...               0
23         1976          1976         0.0         840  ...               0
24         1968          2001         0.0         188  ...               0
25         2007          2007       640.0           0  ...               0
26         1951          2000         0.0         234  ...               0
27         2007          2008       200.0        1218  ...               0
28         1957          1997         0.0        1277  ...               0
29         1927          1950         0.0           0  ...               0
...         ...           ...         ...         ...  ...             ...
1430       2005          2005         0.0           0  ...               0
1431       1976          1976         0.0         958  ...               0
1432       1927          2007         0.0           0  ...               0
1433       2000          2000       318.0           0  ...               0
1434       1977          1977         0.0         936  ...               0
1435       1962          2005       237.0           0  ...               0
1436       1971          1971         0.0         616  ...               0
1437       2008          2008       426.0        1336  ...               0
1438       1957          1996         0.0         600  ...               0
1439       1979          1979        96.0         315  ...               0
1440       1922          1994         0.0           0  ...               0
1441       2004          2004       147.0         697  ...               0
1442       2008          2008       160.0         765  ...               0
1443       1916          1950         0.0           0  ...               0
1444       2004          2004       106.0           0  ...               0
1445       1966          1966         0.0         187  ...               0
1446       1962          1962       189.0         593  ...               0
1447       1995          1996       438.0        1079  ...               0
1448       1910          2000         0.0           0  ...               0
1449       1970          1970         0.0         553  ...               0
1450       1974          1974         0.0           0  ...               0
1451       2008          2009       194.0           0  ...               0
1452       2005          2005        80.0         547  ...               0
1453       2006          2006         0.0           0  ...               0
1454       2004          2005         0.0         410  ...               0
1455       1999          2000         0.0           0  ...               0
1456       1978          1988       119.0         790  ...               0
1457       1941          2006         0.0         275  ...               0
1458       1950          1996         0.0          49  ...               0
1459       1965          1965         0.0         830  ...               0

      SaleType_ConLw  SaleType_New  SaleType_Oth  SaleType_WD  \
0                  0             0             0            1
1                  0             0             0            1
2                  0             0             0            1
3                  0             0             0            1
4                  0             0             0            1
5                  0             0             0            1
6                  0             0             0            1
7                  0             0             0            1
8                  0             0             0            1
9                  0             0             0            1
10                 0             0             0            1
11                 0             1             0            0
12                 0             0             0            1
13                 0             1             0            0
14                 0             0             0            1
15                 0             0             0            1
16                 0             0             0            1
17                 0             0             0            1
18                 0             0             0            1
19                 0             0             0            0
20                 0             1             0            0
21                 0             0             0            1
22                 0             0             0            1
23                 0             0             0            1
24                 0             0             0            1
25                 0             0             0            1
26                 0             0             0            1
27                 0             0             0            1
28                 0             0             0            1
29                 0             0             0            1
...              ...           ...           ...          ...
1430               0             0             0            1
1431               0             0             0            1
1432               0             0             0            1
1433               0             0             0            1
1434               0             0             0            1
1435               0             0             0            0
1436               0             0             0            1
1437               0             1             0            0
1438               0             0             0            1
1439               0             0             0            1
1440               0             0             0            1
1441               0             0             0            1
1442               0             0             0            1
1443               0             0             0            1
1444               0             0             0            1
1445               0             0             0            1
1446               0             0             0            1
1447               0             0             0            1
1448               0             0             0            1
1449               0             0             0            1
1450               0             0             0            1
1451               0             1             0            0
1452               0             0             0            1
1453               0             0             0            1
1454               0             0             0            1
1455               0             0             0            1
1456               0             0             0            1
1457               0             0             0            1
1458               0             0             0            1
1459               0             0             0            1

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
5                         0                     0                     0
6                         0                     0                     0
7                         0                     0                     0
8                         0                     0                     0
9                         0                     0                     0
10                        0                     0                     0
11                        0                     0                     0
12                        0                     0                     0
13                        0                     0                     0
14                        0                     0                     0
15                        0                     0                     0
16                        0                     0                     0
17                        0                     0                     0
18                        0                     0                     0
19                        0                     0                     0
20                        0                     0                     0
21                        0                     0                     0
22                        0                     0                     0
23                        0                     0                     0
24                        0                     0                     0
25                        0                     0                     0
26                        0                     0                     0
27                        0                     0                     0
28                        0                     0                     0
29                        0                     0                     0
...                     ...                   ...                   ...
1430                      0                     0                     0
1431                      0                     0                     0
1432                      0                     0                     0
1433                      0                     0                     0
1434                      0                     0                     0
1435                      0                     0                     0
1436                      0                     0                     0
1437                      0                     0                     0
1438                      0                     0                     0
1439                      0                     0                     0
1440                      0                     0                     0
1441                      0                     0                     0
1442                      0                     0                     0
1443                      0                     0                     0
1444                      0                     0                     0
1445                      0                     0                     0
1446                      0                     0                     0
1447                      0                     0                     0
1448                      0                     0                     0
1449                      0                     0                     0
1450                      0                     0                     0
1451                      0                     0                     0
1452                      0                     0                     0
1453                      0                     0                     0
1454                      0                     0                     0
1455                      0                     0                     0
1456                      0                     0                     0
1457                      0                     0                     0
1458                      0                     0                     0
1459                      0                     0                     0

      SaleCondition_Normal  SaleCondition_Partial
0                        1                      0
1                        1                      0
2                        1                      0
3                        0                      0
4                        1                      0
5                        1                      0
6                        1                      0
7                        1                      0
8                        0                      0
9                        1                      0
10                       1                      0
11                       0                      1
12                       1                      0
13                       0                      1
14                       1                      0
15                       1                      0
16                       1                      0
17                       1                      0
18                       1                      0
19                       0                      0
20                       0                      1
21                       1                      0
22                       1                      0
23                       1                      0
24                       1                      0
25                       1                      0
26                       1                      0
27                       1                      0
28                       1                      0
29                       1                      0
...                    ...                    ...
1430                     1                      0
1431                     1                      0
1432                     1                      0
1433                     1                      0
1434                     1                      0
1435                     0                      0
1436                     1                      0
1437                     0                      1
1438                     1                      0
1439                     1                      0
1440                     1                      0
1441                     1                      0
1442                     1                      0
1443                     1                      0
1444                     1                      0
1445                     1                      0
1446                     1                      0
1447                     1                      0
1448                     1                      0
1449                     0                      0

# Hyperparameter and rf or regression execution

In [38]:


from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(max_features='auto', oob_score=True, random_state=1, n_jobs=-1)

param_grid = { "criterion" : ["gini", "entropy"], "min_samples_leaf" : [1, 5, 10], "min_samples_split" : [2, 4, 10, 12, 16], "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='accuracy', cv=3, n_jobs=-1)

gs = gs.fit(df_train2.iloc[:, 1:], df_train2.iloc[:, 0])

print(gs.bestscore)
print(gs.bestparams)
print(gs.cvresults)

ValueError: n_splits=3 cannot be greater than the number of members in each class.

# Post Model analysis

# submission file generation